@using Spotify.Models

<div class="center">
    <div class="row text-center">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel {ReturnUrl = ViewBag.ReturnUrl})
    </div>
</div>